<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список задач</title>
</head>
<body>
    <h1>Список задач</h1>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }}
                <form action="/tasks/edit/{{ loop.index0 }}" method="get" style="display:inline;">
                    <button type="submit">Редактировать</button>
                </form>
                <form action="/tasks/delete/{{ loop.index0 }}" method="post" style="display:inline;">
                    <button type="submit">Удалить</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <button><a href="/tasks/add/">Добавить задачу</a></button>
    <button><a href="/">На главную</a></button>
</body>
</html>
